<!DOCTYPE html>
<html>
<head>
	<title>Christian Boni - Mobile - Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/jqm/jquery.mobile-1.4.5.min.css">
	<script src="/static/jqm/jquery.mobile-1.4.5.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

	<div data-role="page" id="me">
		<div data-role="header">
			<div id="home" class="container-fluid">
				<div class="row">
 					<div class="col-xs-6 col-xs-offset-3">
						<h1>Christian Boni</h1>
						<h3><i>Computer Engineer</i></h3>
						<p>I like to build anything and everything with computer code.</p><br>
					</div>
				</div>
			</div>
			<div data-role="navbar">
				<ul class="navigation">
					<li><a href="#me" class="ui-btn-active ui-state-persist" data-transition="flip">me</a></li>
					<li><a href="#skills" data-transition="flip">skills</a></li>
					<li><a href="#work" data-transition="flip">work</a></li>
					<li><a href="#interests" data-transition="flip">interests</a></li>
					<li><a href="#resume" data-transition="flip">resume</a></li>
				</ul>
			</div>
	  	</div>

		<div class="section" data-role="main" class="ui-content">
			<h1>About Me</h1>
			<p>
				As the title states I am currently pursing a degree in Computer Engineering at the Univeristy of Pittsburgh. 
				While Computer Engineering is known to be a heterogenous mixture of Electrical Engineering and Computer Science, 
				I am mainly focusing on the latter with a passion for Computer Science and a love of software. As a result some programming languages 
				I am fluent in are Java, C#, Python, and C. Recently, I have gained an interest in web-design and am trying to learn and become familiar 
				with HTML, CSS, and Javascript (and its many frameworks). I also attempted to create games using a Python framework called PyGame and even an 
				iPhone application by teaching myself Swift. Sadly with the large workload of school I have not have had the free time to complete either of these yet!
				Nevertheless, now you can see and understand my love for computers and interest in computer science.
			 </p>
		</div>

	</div> 

	<div data-role="page" id="skills">
		<div data-role="header">
			<div id="home" class="container-fluid">
				<div class="row">
 					<div class="col-xs-6 col-xs-offset-3">
						<h1>Christian Boni</h1>
						<h3><i>Computer Engineer</i></h3>
						<p>I like to build anything and everything with computer code.</p><br>
					</div>
				</div>
			</div>		
			<div data-role="navbar">
				<ul class="navigation">
					<li><a href="#me" data-transition="flip">me</a></li>
					<li><a href="#skills" class="ui-btn-active ui-state-persist" data-transition="flip">skills</a></li>
					<li><a href="#work" data-transition="flip">work</a></li>
					<li><a href="#interests" data-transition="flip">interests</a></li>
					<li><a href="#resume" data-transition="flip">resume</a></li>
				</ul>
			</div>
		</div>

	  	<div class="section" data-role="main" class="ui-content">
			<h1>Skills</h1><br>
			<div class="list"><h2>Languages</h2></div><br>
					Java<br>
					C#<br>
					HTML<br>
					CSS<br>
					ANSI C<br> 
					JavaScript<br> 
					Python<br>
					SQL<br>
					VHDL<br>
					C++<br>
					Swift<br><br>
		
				<div class="list"><h2>Software</h2></div><br>
					Microsoft Office<br>
					Microsoft Visual Studio<br>
					Microsoft TFS <br>
					NetBeans<br>
					Google App Engine<br> 
					HDL Designer<br> 
					ModelSim<br>
					Quartus<br>
					MatLab<br>
					Eclipse<br>
		</div>
	</div> 
	
	<div data-role="page" id="work">
		<div data-role="header">
			<div id="home" class="container-fluid">
				<div class="row">
 					<div class="col-xs-6 col-xs-offset-3">
						<h1>Christian Boni</h1>
						<h3><i>Computer Engineer</i></h3>
						<p>I like to build anything and everything with computer code.</p><br>
					</div>
				</div>
			</div>
			<div data-role="navbar">
				<ul class="navigation">
					<li><a href="#me" data-transition="flip">me</a></li>
					<li><a href="#skills" data-transition="flip">skills</a></li>
					<li><a href="#work" class="ui-btn-active ui-state-persist" data-transition="flip">work</a></li>
					<li><a href="#interests" data-transition="flip">interests</a></li>
					<li><a href="#resume" data-transition="flip">resume</a></li>
				</ul>
			</div>
	  	</div>

		<div class="section" data-role="main" class="ui-content">
			<h1>Work</h1>
			<a href="http://www.creehan.com/"> <img id="creehan" src="/pictures/creehan.png"></img> </a>
			<div class="list">
				<h2>Software Application Development Intern</h2>
			</div>
			
			<div class="list-alt">
				<h4><em>Creehan & Company</em> <br> Canonsburg, Pennsylvania</h4>
			</div>
			<br>
			<p>Internship was over the course of three consecutive summers. Worked with developers and quality assurance (QA) testers in both software development and testing. 
			Fixed bugs and defects with Visual Studio debugging. Performed code refactoring and optimizations throughout the entire codebase with the 3rd party software ReSharper. 
			Learned the basics of C# Microsoft’s Team Foundation Server (TFS) on the job.
			</p>
		</div>

	</div> 
	
	<div data-role="page" id="interests">
		<div data-role="header">
			<div id="home" class="container-fluid">
				<div class="row">
 					<div class="col-xs-6 col-xs-offset-3">
						<h1>Christian Boni</h1>
						<h3><i>Computer Engineer</i></h3>
						<p>I like to build anything and everything with computer code.</p><br>
					</div>
				</div>
			</div>		
			<div data-role="navbar">
				<ul class="navigation">
					<li><a href="#me" data-transition="flip">me</a></li>
					<li><a href="#skills" data-transition="flip">skills</a></li>
					<li><a href="#work" data-transition="flip">work</a></li>
					<li><a href="#interests" class="ui-btn-active ui-state-persist" data-transition="flip">interests</a></li>
					<li><a href="#resume" data-transition="flip">resume</a></li>
				</ul>
			</div>
		</div>

	  	<div class="section" data-role="main" class="ui-content">
			<h1>Interests</h1><br>
			<div class="list"><h2>Sports</h2></div><br>
					<b>Pittsburgh</b> Panthers<br>
					<b>Pittsburgh</b> Steelers<br>
					<b>Pittsburgh</b> Penguins<br>
					<b>Pittsburgh</b> Pirates<br>
					<em>(...see an occurring trend here?)</em><br><br>
		
				<div class="list"><h2>Hobbies</h2></div><br>
					Attempting to learn new Computer Languages<br>
					Watching movies with my Girlfriend <br>
					<em>(only allowed to see chick flicks)</em><br>
					Playing Xbox Live games with my friends <br>
					<em>(not as often as I'd like to because of homework, exams, and projects)</em><br>
					
		</div>
	</div> 
	
	<div data-role="page" id="resume">
		<div data-role="header">
			<div id="home" class="container-fluid">
				<div class="row">
 					<div class="col-xs-6 col-xs-offset-3">
						<h1>Christian Boni</h1>
						<h3><i>Computer Engineer</i></h3>
						<p>I like to build anything and everything with computer code.</p><br>
					</div>
				</div>
			</div>
			<div data-role="navbar">
				<ul class="navigation">
					<li><a href="#me" data-transition="flip">me</a></li>
					<li><a href="#skills" data-transition="flip">skills</a></li>
					<li><a href="#work" data-transition="flip">work</a></li>
					<li><a href="#interests" data-transition="flip">interests</a></li>
					<li><a href="#resume" class="ui-btn-active ui-state-persist" data-transition="flip">resume</a></li>
				</ul>
			</div>
	  	</div>

		<div class="section" data-role="main" class="ui-content">
			<h1>Thank you for viewing my mobile-friendly Resume!</h1>
			<a href="http://www.christian-boni.appspot.com/"> <img src="/pictures/dogs.jpg"></img> </a>
			<h5>(click on the photo of me to reach my full portfolio)</h5>
		</div>

	</div> 
	
	<script src="/static/script.js"></script>
</body>
</html>