<!DOCTYPE html>
<html>
<head>
	<title>Christian Boni - Resume</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin" />
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	
	
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

	<div id="home" class="container-fluid">
		<h1>Christian Boni</h1>
		<h3><i>Computer Engineer</i></h3>
		<p>I like to build anything and everything with computer code.</p>
	</div>

	<nav id="thenav" class="navbar navbar-default" data-spy="affix" data-offset-top="197">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thenavbar">
			  		<span class="icon-bar"></span>
			  		<span class="icon-bar"></span>
			  		<span class="icon-bar"></span>                        
		  		</button>
		  		<a class="navbar-brand" href="#home">cb</a>
			</div>
			<div>
		  		<div class="collapse navbar-collapse" id="thenavbar">
					<ul class="nav navbar-nav">
			  			<li><a href="#education">education</a></li>
			  			<li><a href="#projects">projects</a></li>
			  			<li><a href="#experience">experience</a></li>
			  			<li><a href="#skills">skills</a></li>
			  			<li><a href="#awards">awards</a></li>
			  			<li><a href="#contact">contact</a></li>
					</ul>
		  		</div>
			</div>
		</div>
	</nav>

	<div id="education" class="container-fluid">
		<div class="row">
 			<div class="col-sm-4 col-sm-offset-2 col-xs-1 col-xs-offset-0">
 				<br><br><br><br><br><br><br><br><br><br><br><br><br>
 				<br><br><br><br><br><br>
 				<h1 class="section">Education</h1>
 			</div>
 			<div class="col-sm-6 col-xs-11">
 				<h2>Computer Engineering <br> @ University of Pittsburgh<h2>
 				<em><h3>Swanson School of Engineering</h3></em>
				
				<h4>Graduation: Spring 2016</h4>
				<h4>GPA: 3.8</h4>
				
				<h3>Courses</h3>

				<div class="course"> 
					<h4>Data Structures</h4> 
				</div>
				<p>
					This course emphasizes the study of the basic data structures of computer science (stacks, queues, trees, lists, graphs) 
					and their implementations using the Java language. Included in this study are programming techniques which use recursion and reference variables. 
					Students in this course are also introduced to various searching and sorting methods and are also expected to develop an intuitive understanding 
					of the complexity of these algorithms.
				</p>
				<div class="course">
					<h4>Algorithms Implementation</h4>
				</div>
				<p>
					This course covers a broad range of the most commonly used algorithms.The students will implement and test several algorithms. The course is programming intensive.
					The purpose of the course is to teach the basics of how to convert algorithms into programs. The course reveals that simple algorithms can become complicated 
					when attempting to implement them, complex algorithms must be considered carefully during implementation, and issues during 
					implementation are always bound to occur.
					The course also teaches the differences in algorithms and how they affect run-times of the associated programs. 
					Furthermore, that different algorithms can be used to solve the same problem and different solutions can be compared by various metrics.
					Major topics for the course includes the following: sorting, searching, hashing, 
					compression, heaps and priority queues, graph algorithms, dynamic programming, P vs NP, heuristic approximation, and cryptography.
				</p>
				<div class="course">
					<h4>Computer Organization and Assembly Language</h4>
				</div>
				<p>
					The purpose of this course is to study the components of computing systems common to most computer architectures. In particular, this class 
					is meant to introduce data representation, types of processors (e.g., RISC V. CISC), memory types and hierarchy, assembly language, linking and
					loading, and an introduction to device drivers.</p>
 			</div>
 		</div>
	</div>
	<div id="projects" class="container-fluid">
		<div class="row">
 			<div class="col-sm-4 col-sm-offset-2 col-xs-1">
 				<br><br><br><br><br><br><br><br><br>
 				<br><br><br><br><br><br><br><br><br>
 				<br><br><br><br><br><br><br><br><br>
 				<h1 class="section">Projects</h1>
 			</div>
 			<div class="col-sm-6 col-xs-11">
 				<a href="http://www.pitt-yak.appspot.com/"> <img class="blur" src="/pictures/pittyak.png"></img> </a>
 				
 				<h2>Pitt-Yak</h2>
 				<p>
 					This was a group project for the Programming for Web Applications course at the University of Pittsburgh. The goal of the project was to create and build a website with your
 					group mates by the end of the term. My group which consisted of myself, Joesph McClain, Philip Washy, and Matthew O'Brian came up with the idea of creating a localized version
 					of the well known iPhone and Andriod app known as "Yik-Yak". Similar to Yik-Yak our website is an anonymous social media website that allows users to up-vote and down-vote 
 					posts and subposts. Furthermore, these posts are tracked by locations around the Pittsburgh campus, such as North Oakland, South Oakland, and Central Oakland. This gives users a
					a general idea of what is going on at each area around campus. We used the Python flavor of Google App Engine for our back-end,
					in combination with HTML5, CSS, JavaScript, BootStrap, & JQuery for the front-end.
 				</p><br>
 				
 				<a href="https://www.raspberrypi.org/blog/magic-mirror/"> <img class="blur" src="/pictures/mirror.jpg"></img> </a>
 				
 				 <h2>Magic Mirror</h2>
 				<p>
 					This was an individual project (still in progress) that I researched and developed solely for myself. While wanting to get my hands on the latest technology, I stumbled upon
 					a device called the Raspberry Pi. The Raspberry Pi  is a single board mini computer that is capable of performing a bunch of different tasks. As a result, I looked into
 					various projects for the Raspberry Pi that I would like to work on and I found this one in particular. While I havent gotten my hands on a Raspberry Pi just yet, I have began to 
 					work on this project and have almost gotten the interface for the mirror completed. Mine interface is a little bit different then that pictured. Mine will be displaying 
 					the Time and Date, Weather for the week, Top News Headlines of the day, and my own Nike FuelBand Statistics for the week. This is still a work in progress but hopefully it will be complete soon!
 					You can read more about the project by checking out the link
 					to Raspberry Pi's blog!
 				</p>
 				
 			</div>
 		</div>
	</div>
	<div id="experience" class="container-fluid">
		<div class="row">
 			<div class="col-sm-4 col-sm-offset-2 col-xs-1">
 				<br><br><br><br><br><br><br>
 				<h1 class="section">Experience</h1>
 			</div>
 			<div class="col-sm-6 col-xs-11">
 				<a href="http://www.creehan.com/"> <img class="blur" src="/pictures/creehan.png"></img> </a>
 				<h2>Software Application Development Intern</h2>
				<h3><em>Creehan & Company</em> <br> Canonsburg, Pennsylvania</h3>
 				<p>Internship was over the course of three consecutive summers. Worked with developers and quality assurance (QA) testers in both software development and testing. 
 				Fixed bugs and defects with Visual Studio debugging. Performed code refactoring and optimizations throughout the entire codebase with the 3rd party software ReSharper. 
 				Learned the basics of C# Microsoft’s Team Foundation Server (TFS) on the job.
 				</p>
 			</div>
 		</div>
	</div>
	<div id="skills" class="container-fluid">
		<div class="col-sm-4 col-sm-offset-2 col-xs-1">
 				<br><br><br><br><br><br><br><br><br><br><br><br><br>
 				<h1 class="section">Skills</h1>
 				<p><em>ordered by skill (most to least familiar)</em><p>
 			</div>
 			<div class="col-sm-6 col-xs-11">
 			<div class="skill">
 				<h3>Languages</h3>
 			</div><br>
 				<ul class="skills">
 					<li>Java
					<li>C#
					<li>HTML
					<li>CSS
					<li>ANSI C 
					<li>JavaScript 
					<li>Python 
					<li>SQL 
					<li>VHDL 
					<li>C++
					<li>Swift
 				</ul>
 				<div class="skill">
 					<h3>Software</h3>
 				</div><br>
 				<ul class="skills">
					<li>Microsoft Office
					<li>Microsoft Visual Studio
					<li>Microsoft TFS 
					<li>NetBeans
					<li>Google App Engine 
					<li>HDL Designer 
					<li>ModelSim
					<li>Quartus
					<li>MatLab
					<li>Eclipse
				</ul>
 			</div>
 		</div>
	</div>
	<div id="awards" class="container-fluid">
		<div class="row">
 			<div class="col-sm-4 col-sm-offset-2 col-xs-1">
 				<br><br><br><br>
 				<h1 class="section">Awards</h1>
 			</div>
 			<div class="col-sm-6 col-xs-11">
 				<div class="awards">
 					<p> achieved <p class="award"> DEANS </p> and <p class="award"> HONORS LIST </p> in </p>
 				</div>
 				<img src="/pictures/swanson.png"> 				
 			</div>
 		</div>
	</div>
	<div id="contact" class="container-fluid">
		<div class="row">
 			<div class="col-sm-4 col-sm-offset-2 col-xs-1">
 				<br><br><br><br><br><br><br>
 				<h1 class="section">Contact Me</h1>
 				<h5>boni1331 @ gmail.com</h5>
 			</div>
 			<div class="col-sm-6 col-xs-11">
 				<form role="form" action="#home" id="contactform">
 				 	<div class ="form-group">
 						<label for="name">Name</label>
 						<input type="text" class="form-control" id="name">
 					</div>
 					<div class ="form-group">
 						<label for="email">Email</label>
 						<input type="email" class="form-control" id="email" required>
 					</div>
 					<div class ="form-group">
 						<label for="subject">Subject</label>
 						<input type="text" class="form-control" id="subject">
 					</div>
 					<div class ="form-group">
 						<label for="message">Message</label>
 						<textarea type="text" class="form-control" id="message" rows=10 required></textarea>
 					</div>
				  <button type="submit" class="btn btn-default" onclick="sendContact();">Send</button>
				</form>
 			</div>
 		</div>
	</div>
	<script src="/static/script.js"></script>
</body>
</html>